
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  /* background: linear-gradient(to right, #ff9a9e, #fad0c4); */
  /* background: linear-gradient(to right, pink, white); */
  background: linear-gradient(#ff9a9e, #fad0c4);

  /* height: 170vh; */
  min-height: 100vh;
  height: auto;
  animation: fadeIn 2s ease-in-out;
}

.hbd {
  width: 100%;
  /* max-width: 600px; */
  padding: 20px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  box-sizing: border-box;
  margin-top: 10%;
}
#hbdflag {
  position: absolute;
  /* 
    left : -20px; */
  z-index: -1;
  width: 100%;
  height: auto;
  /* transform: rotate(-30deg); */
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#hap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: bolder;
  color: #fff;
}

#day {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
}
#name {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-top: 2%;
}
.pic {
  position: relative;
  margin-top: 5%;
}
#ribbon {
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 2;
  top: 10px;
  right: -10px;
  transform: rotate(30deg);
}

.swiper {
  width: 90vw;
  max-width: 235px;
  height: 350px;
  box-sizing: border-box;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  object-fit: cover;
}
.cake {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
#bdcake {
  height: 10%;
  width: 20%;
}
.video video {
  height: 50%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.charname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 0;
  width: 100%;
  height: 100%;
}
input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10%;
  border: none;
  border-radius: 10px;
  background-color: #fff8f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  font-family: "Playwrite RO", cursive;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 1000;
  text-transform: uppercase;
  font-style: normal;
  font-size: 2rem;
  color: pink;
}
.btn {
  margin: 5%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cilckhere {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#clickheretext {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000000c4;
}
#enter {
  background-color: transparent;
  border: none;
}
#gift {
  width: 4em;
  vertical-align: middle;
}


.showtext {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}

#hbdtext {
  display: block;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#firsttext {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.8;
  color: #333;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
}
#heart {
  width: 1.2em;
  vertical-align: middle;
}

#fstar {
  width: 1.2em;
  vertical-align: middle;
}
#phbd {
  margin-top: 2%;
  font-size: 0.9rem;
  line-height: 1.8;
  text-align: center;
  color: #333;
  font-family: "Sriracha", cursive;
  /* font-family: "Sriracha", cursive; */

}

#endtext {
  margin-top: 20px;
  font-style: italic;
  color: #555;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.polarnorth {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-top: 10%;
}

.polaroid {
  position: relative;
  width: 100%;
  padding: 10px 10px 40px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin-bottom: 20px;
}

.polarpic {
  width: 100%;
  height: 100%;
}
#crown {
  position: absolute;
  top: -30px;
  right: -30px;
  transform: rotate(30deg);
  width: 40%;
  height: 30%;
}
#bear {
  position: absolute;
  left: -40px;
  bottom: -30px;
  transform: rotate(-30deg);
  width: 40%;
  height: 30%;
}
#rotate_right {
  position: relative;
  transform: rotate(7deg);
}

#rotate_left {
  position: relative;
  transform: rotate(-8deg);
}
#rotate_a {
  position: relative;
  transform: rotate(-5deg);
}
#rotate_b {
  position: relative;
  transform: rotate(5deg);
}
